body {
    background-color: lightcyan;
    font-family: Rockwell;
}

article {
    border-right: solid darkslateblue 5px;
    border-left: solid darkslateblue 5px;
    padding-right: 5px;
    padding-left: 5px;
}
section {
    border: 2px solid darkcyan;
    border-radius: 10px;
    padding: 5mm;
    margin-bottom: 10px;
}
h1 {
    font-size: 45px;
    border-bottom: 10px dotted darkcyan;
}
h2 {
    color: rgb(5, 78, 78);
    background-color: lightblue;
    padding-left: 5px;
    border-left: 10px solid darkcyan;
}
h3 {
    text-indent: 10px;
    border-bottom: solid 2px;
    color: darkslateblue;
}
a:link, a:visited{
    background-color:  darkslateblue;
    color: lightcyan;
    padding: 5px 5px;
    border: solid black 2px;
    border-radius: 5px;
}
a:hover, a:active {
    color: rgb(194, 135, 250);
    background-color: rgb(52, 44, 102);
}
.reslinks li {
    padding: 10px;
}
p {
    text-indent: 10px;
}
footer {
    color: grey;
    text-align: center;
}
.endof {
    color: grey;
    font-size: small;
    text-align: right;
}
#lab02dl {
     background-color: lightblue; 
     padding: 10px;
     border: 1px dotted blue;
     color: rgb(16, 72, 104);
}
#email {
    background: none;
    color: black;
    border: none;
}
#mainarticle {
    background-color: darkslateblue;
    border-left: none;
    color: rgb(182, 176, 221);
    text-align: center;
    border-bottom: dashed darkcyan 2px;
    border-top: dashed darkcyan 2px;
}